name: Debugging Code

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        java: [17]
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: gradle/wrapper-validation-action@v2
    - name: setup jdk ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'microsoft'
    - name: make gradle wrapper executable
      run: chmod +x ./gradlew
    - name: build
      run: ./gradlew build
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Artifacts
        path: build/libs/weapons-collection-*.jar